streamlit
google-generativeai
google-cloud-vision
Pillow
python-dotenv
PyPDF2
numpy
pandas
langchain
langchain-google-genai
langchain-community
faiss-cpu
PyMuPDF
langchain-experimental  
sentence-transformers